/* .kkk{
  margin-top: -50vh;
} */
.jd{
  margin-top: 10vh;
  transform: translateX(9vh);
}
.col-card{
  margin-top: 13vh;
}
.zoomCard {
  transition: transform 0.8s;
}

.zoomCard:hover {
  transform: scale(1.07);
}